<div class="flex min-h-screen items-center" style="margin-top: -8rem">
  <ng-container *ngIf="isSubscriber; else notSubscriberContent">
    <div class="w-full flex flex-col justify-center items-center px-12 text-gray-700">
      <h1 class="text-4xl font-bold mb-4">Welcome to Premium!</h1>
      <p class="text-lg">
        Congratulations on upgrading to the Premium Plan! You now have full access to all premium features including Course Navigator, lecture tracker, and lecture notes. Start exploring and enhance your learning experience.
      </p>
      <button (click)="exploreCourses()" class="btn btn-primary rounded-full px-8 py-3 text-white font-bold mb-4">Explore Courses</button>
    </div>
  </ng-container>

  <ng-template #notSubscriberContent>
    <div class="w-1/2 flex flex-col justify-center px-12 text-gray-700">
      <h1 class="text-4xl font-bold mb-4">Enhance Your Learning Experience</h1>
      <p class="text-lg">
        Join our community of learners and get access to premium features that will take your learning to the next level. Our Course Navigator, lecture tracker, and lecture notes features are designed to enhance your educational journey.
      </p>
    </div>

    <div class="w-1/2 flex justify-center items-center">
      <div class="bg-white border border-gray-200 p-8 rounded-lg shadow-lg text-center">
        <h2 class="text-2xl font-bold mb-4">PREMIUM PLAN</h2>
        <p class="mb-8">
          For $5 a month, gain access to Course Navigator, lecture tracker, and lecture notes features.
        </p>
        <button (click)="subscribe()" class="btn btn-secondary rounded-full px-8 py-3 text-white font-bold mb-4 w-full">
          START YOUR PREMIUM SUBSCRIPTION
        </button>
        <p class="text-sm">
          Digital Subscription. Billed monthly. Renews automatically each month. Cancel at any time.
        </p>
      </div>
    </div>
  </ng-template>
</div>

