.custom-alert {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1000; /* make it sitabove other content */
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 20%;
  max-width: 300px;
}

.dark .custom-alert {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.dark .cal-day-headers {
  color: black !important;
}

.dark .cal-day-headers span {
  color: black !important;
}

.calendar-container {
  overflow: hidden;
}

.calendar-wrapper {
  overflow-x: auto;
  max-height: 500px;
}

.mwl-calendar-week-view {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  position: relative;
}

.mwl-calendar-week-view .cal-day-headers {
  background-color: #f3f4f6;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mwl-calendar-week-view .cal-time-events {
  position: sticky;
  left: 0;
  z-index: 1;
}
.container {
  position: relative;
}

.calendar-wrapper {
  overflow-x: auto;
  max-height: 500px;
  position: relative;
}

.mwl-calendar-week-view {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin-top: -40px;
  z-index: 1;
}

.cal-day-headers {
  background-color: #f3f4f6;
  color: black;
  position: sticky;
  top: 0;
  z-index: 0;
}

.cal-time-events {
  position: sticky;
  left: 0;
  z-index: 1;
}

.dark .bg-white {
  background-color: #18181b;
}

.dark .calendar-container .text-black {
  color: #000000;
}

.dark .calendar-container .mwl-calendar-week-view,
.dark .calendar-container .cal-time,
.dark .calendar-container .cal-day-headers {
  color: #000000;
}

.dark .custom-alert {
  background-color: #18181b;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.dark .mwl-calendar-week-view-header {
  color: black !important;
}

html,
body,
.container,
.calendar-container {
  width: 100%;
}
