html, body {
    background-color: #fff; 
    min-height: 100vh;
    margin: 0;
}

.dark html, body {
    background-color: #18181b; 
    min-height: 100vh;
    margin: 0;
}
  
  .main-content {
    min-height: 100vh; 
    background-color: #fff; 
  }