<div class="main-content ">
  <div class="container mx-auto px-8 py-8 bg-white dark:bg-zinc-900">
    <div class="flex">
      <!-- side bar column -->
      <div class="w-1/4 ">
        <app-profile-nav></app-profile-nav>
      </div>
      <!-- content column -->
      <div class="w-3/4 "> 
        <h2>Click the links on the side to navigate</h2>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  </div>
  <footer class="footer bg-zinc-800 text-neutral-content">
    <div class="flex flex-col md:flex-row justify-between items-center w-full p-10">
      <div class="flex flex-col md:flex-row space-x-0 md:space-x-10">
        <a href="/" class="mb-6 md:mb-0 flex items-center">
          <img src="/assets/logo-studytrek.png" alt="Study Trek Logo" class="h-8">
        </a>
        <div class="flex flex-col md:flex-row space-x-0 md:space-x-10">
          <nav>
            <h6 class="footer-title">Member quick links</h6> 
            <a [routerLink]="['/home/profile']" class="link link-hover block">My Account</a>
            <a [routerLink]="['/home/my-courses']" class="link link-hover block">My Courses</a>
            <a [routerLink]="['/calendar']" class="link link-hover block">Calendar</a>
            <a [routerLink]="['/forum']" class="link link-hover block">Forum</a>
          </nav> 
          <nav>
            <h6 class="footer-title">Premium subscribers</h6> 
            <a [routerLink]="['/course-navigator']" class="link link-hover block">Course Navigator</a>
            <a [routerLink]="['/telegram']" class="link link-hover block">Study Trek Telegram Bot</a>
          </nav>
        </div>
      </div>
      <div class="text-sm">
        &copy; <script>document.write(new Date().getFullYear())</script> Study Trek, Inc.
      </div>
    </div>
  </footer>
