<!-- Navbar -->
<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
  
      <!-- Logo on the left -->
      <a href="/" class="flex items-center space-x-4">
        <img src="/assets/logo-studytrek.png" alt="Logo" class="h-8"> <!-- Adjust the logo path and size as needed -->
        <span class="font-bold text-ml"><code>STUDY TREK</code></span>
      </a>
  
      <!-- Centered content: Categories dropdown (visible on larger screens) -->
      <div class="hidden md:flex justify-center flex-grow">
        <div class="dropdown dropdown-hover">
          <label tabindex="0" class="btn m-1">Categories</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Business</a></li>
            <li><a>Development</a></li>
            <li><a>Design</a></li>
          </ul>
        </div>
      </div>
      <app-search class="w-full md:w-3/5 mx-auto md:ml-8 md:mr-8"></app-search>
      <!-- Right content: Login/Signup buttons -->
      <!-- if user is NOT logged in -->
      <div class="flex items-center space-x-4">
        <button *ngIf="!(isLoggedIn$ | async)" class="btn btn-outline btn-primary" (click)="login()">Login</button>
        <button *ngIf="!(isLoggedIn$ | async)" class="btn btn-primary" (click)="register()">Sign Up</button>
        <!--if user is logged in -->
        <div *ngIf="isLoggedIn$ | async" class="relative profile-dropdown">
          <img *ngIf="userProfilePicUrl$ | async as userProfilePicUrl" [src]="userProfilePicUrl" (click)="goToProfile()" alt="Profile" class="h-8 w-8 rounded-full cursor-pointer">
          <div class="dropdown-content hidden absolute right-0 bg-white text-black mt-1 p-2 shadow-lg">
            <div class="block p-2">{{ firstName$ | async }}</div>
            <a (click)="navigateToMyCourses()" class="block p-2">My Courses</a>
            <a (click)="logout()" class="block p-2">Log Out</a>
          </div>
        </div>
        <button (click)="themeSvc.toggleTheme()" class="p-2">
            <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <!-- Moon icon for dark mode -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.38A9 9 0 1111.62 3 7 7 0 0021 12.38z"/>
            </svg>
            <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <!-- Sun icon for light mode -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v2m0 14v2m9-9h-2M5 12H3m14.293-3.707l1.414 1.414M6.343 17.657l1.414-1.414m8-8l1.414 1.414M6.343 6.343l1.414 1.414M12 5a7 7 0 100 14 7 7 0 000-14z"/>
            </svg>
          </button>
      </div>
  
    </div>
  </nav>
  
  