<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">

      <!-- Logo on the left -->
      <a href="/" class="flex items-center space-x-4">
        <img src="/assets/logo-studytrek.png" alt="Logo" class="h-8"> 
        <span class="font-bold text-ml"><code>STUDY TREK</code></span>
      </a>
  
      <!-- Course navigator -->
      <div class="hidden md:flex justify-center flex-grow">
        <button (click)="navigateToCourseNavigator()" class="btn btn-secondary">Course Navigator</button>
      </div>

      <!-- search -->
      <app-search class="w-full md:w-3/5 mx-auto md:ml-4 md:mr-8"></app-search>

      <!-- Right content: Login/Signup buttons -->
      <!-- if user is NOT logged in -->
      <div class="flex items-center space-x-4">
        <button *ngIf="!(isLoggedIn$ | async)" class="btn btn-outline btn-primary" (click)="login()">Login</button>
        <button *ngIf="!(isLoggedIn$ | async)" class="btn btn-primary" (click)="register()">Sign Up</button>

        <!--  bell and user profile dropdown if user is logged in -->
      <div *ngIf="isLoggedIn$ | async" class="relative profile-dropdown flex items-center space-x-2">
        <!-- bell -->
        <div class="dropdown dropdown-hover">
          <button class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14V8a6 6 0 00-12 0v6c0 .217.021.431.063.639L5 17h5m4 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li *ngIf="(notifications$ | async)?.length === 0">
              <a>No new notifications</a>
            </li>
            <li *ngFor="let notification of (notifications$ | async)">
              <a (click)="onNotificationClick()">
                {{ notification.message }}
              </a>
              <ng-container *ngIf="notification.friendRequest">
                <div class="flex items-center space-x-2">
                  <button class="btn btn-sm btn-outline btn-success" (click)="acceptFriendRequest(notification, notification.friendRequest, true)">Accept</button>
                  <button class="btn btn-sm btn-outline btn-error" (click)="acceptFriendRequest(notification, notification.friendRequest, false)">Reject</button>
                </div>
              </ng-container>
              
            </li>
          </ul>
        </div>
        </div>

        <!--if user is logged in -->
        <div *ngIf="isLoggedIn$ | async" class="relative profile-dropdown">
          <div *ngIf="userProfilePicUrl$ | async as userProfilePicUrl" class="avatar" >
            <div class="w-8 rounded-full">
              <img [src]="userProfilePicUrl" (click)="toggleDropdown()"/>
            </div>
          </div>
          <div class="dropdown-content" 
               [class.hidden]="!isDropdownVisible" 
               class="absolute right-0 bg-white text-black mt-1 p-2 shadow-lg">
              <a [routerLink]="['/home/profile']"  class="block p-2">{{ firstName$ | async }}</a>
              <a [routerLink]="['/home/my-courses']"  class="block p-2">My Courses</a>
              <a [routerLink]="['/forum']" class="block p-2">Study Hub</a>
              <a (click)="logout()" class="block p-2">Log Out</a>
          </div>
      </div>
       
          <label class="swap swap-rotate">
            <input type="checkbox" (click)="themeSvc.toggleTheme()"/>
            <svg class="swap-on fill-current w-10 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
            <svg class="swap-off fill-current w-10 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
          </label>
        
      </div>
  
    </div>
  </nav>
  
  