<div class="pt-20 dark:bg-zinc-800 bg-white">
  <div class="chat-container mx-auto max-w-md px-4 py-2 dark:bg-zinc-800 bg-white shadow-lg rounded-lg">
    <!-- Chat header-->
    <div class="chat-header text-center text-2xl font-bold mb-2 text-black dark:text-white">
      Study Trek Course Navigator
      <hr class="mt-2">
    </div>
    
    <!-- Chat body -->
    <div class="chat-body overflow-auto max-h-96 mb-4">
      <!-- Dynamic chat bubbles for both user and system messages -->
      <div *ngFor="let message of messages" [ngClass]="{
        'chat chat-start ': !message.user, 'chat chat-end': message.user
      }" class="mb-2">
        <div class="chat-bubble chat-bubble-secondary " *ngIf="message.user">{{ message.text }}</div>
        <div class="chat-bubble chat-bubble-accent" *ngIf="!message.user && message.html" [innerHTML]="message.html"></div>
        <div class="chat-bubble chat-bubble-accent" *ngIf="!message.user && !message.html">{{ message.text }}</div>
      </div>
         
    </div>

    <!-- Spinner -->
    <div *ngIf="isLoading" class="flex justify-center items-center mt-2">
      <span class="loading loading-spinner text-primary"></span>
    </div>

    <!-- Chat form -->
    <form [formGroup]="openAIForm" (ngSubmit)="processSubmit()" class="chat-form">
      <div class="mb-2 text-black dark:text-white">
        I am looking for 
        <input type="number" formControlName="number" placeholder="Enter a number" class="form-input rounded-md shadow-sm">
        course(s) on:
      </div>
      <input type="text" formControlName="query" placeholder="I want to learn about..." class="form-input rounded-md shadow-sm mb-2">
      <button type="submit" class="w-full btn btn-primary">
        Send
      </button>
    </form>

    <!-- Loading Spinner -->
    
  </div>
</div>
