<div class="text-xl text-black dark:text-white font-bold text-center mt-2">Account security</div>
<div class="text-center text-black dark:text-white  mt-1">Change your password</div>

<!--change details form -->
<form (submit)="onSubmit()" [formGroup]="passwordForm" class="max-w-xl mx-auto mt-6">
    <!-- current password -->
    <div class="form-control relative mb-4">
        <label class="label" for="currentPassword">
          <span class="label-text text-black dark:text-white">Current password</span>
          <!-- error message -->
          <div
            *ngIf="passwordForm.get('currentPassword')?.errors?.['required'] && passwordForm.get('currentPassword')?.touched"
            class="text-red-500 text-xs italic">
            Required field
          </div>
        </label>
      
        <div class="relative">
          <input [type]="currentPasswordVisible ? 'text' : 'password'" 
                 id="currentPassword" 
                 formControlName="currentPassword" 
                 class="input w-full pr-10 border border-black dark:border-white bg-white text-black  dark:focus:bg-zinc-950 dark:focus:text-white focus:bg-white focus:border-green-300 rounded-none"
                 placeholder="Enter current password">
          
          <span (click)="toggleCurrentPasswordVisibility()" 
                class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer text-black select-none">
             <!-- show icon -->

            <svg xmlns="http://www.w3.org/2000/svg" 
                 [ngClass]="{'hidden': currentPasswordVisible}" 
                 fill="none" viewBox="0 0 24 24" 
                 class="inline-block w-6 h-6 stroke-current dark:stroke-white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" 
                 [ngClass]="{'hidden': !currentPasswordVisible}" 
                 fill="none" viewBox="0 0 24 24" 
                 class="inline-block w-6 h-6 stroke-current dark:stroke-white">
              <!-- hide icon -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7 .7-1.761 1.847-3.293 3.34-4.474m3.155-2.369A10.056 10.056 0 0112 5c1.26 0 2.471.229 3.609.674"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" opacity="0.5"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M19.54 15.537L4.458 8.463"></path>
            </svg>
          </span>
        </div>
      </div>


    <!-- new password -->
    <div class="form-control relative mb-4">
        <label class="label" for="newPassword">
          <span class="label-text text-black dark:text-white">New password</span>
          <!-- error message -->
          <div
            *ngIf="passwordForm.get('newPassword')?.errors?.['required'] && passwordForm.get('newPassword')?.touched"
            class="text-red-500 text-xs italic">
            Required field
          </div>
          <div
            *ngIf="passwordForm.get('newPassword')?.errors?.['invalidPassword'] && passwordForm.get('newPassword')?.touched"
            class="text-red-500 text-xs italic">
            Password must contain at least one number and one special character.
          </div>
        </label>
      
        <div class="relative">
          <input [type]="newPasswordVisible ? 'text' : 'password'" 
                 id="newPassword" 
                 formControlName="newPassword" 
                 class="input w-full pr-10 border  dark:border-white border-black bg-white text-black dark:focus:bg-zinc-950 dark:focus:text-white focus:bg-white focus:border-green-300 focus:outline-none rounded-none"
                 placeholder="Enter new password">
          
          <span (click)="toggleNewPasswordVisibility()" 
                class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer text-black select-none">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 [ngClass]="{'hidden': newPasswordVisible}" 
                 fill="none" viewBox="0 0 24 24" 
                 class="inline-block w-6 h-6 stroke-current dark:stroke-white">
           
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" 
                 [ngClass]="{'hidden': !newPasswordVisible}" 
                 fill="none" viewBox="0 0 24 24" 
                 class="inline-block w-6 h-6 stroke-current dark:stroke-white">
    
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7 .7-1.761 1.847-3.293 3.34-4.474m3.155-2.369A10.056 10.056 0 0112 5c1.26 0 2.471.229 3.609.674"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" opacity="0.5"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M19.54 15.537L4.458 8.463"></path>
            </svg>
          </span>
        </div>
      </div>

      <!-- confirm password-->
      <div class="form-control relative mb-4">
        <label class="label" for="confirmPassword">
          <span class="label-text text-black dark:text-white">Confirm password</span>
          <div
            *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched"
            class="text-red-500 text-xs italic">
            Passwords must match
          </div>
        </label>
      
        <div class="relative">
          <input [type]="confirmPasswordVisible ? 'text' : 'password'" 
                 id="confirmPassword" 
                 formControlName="confirmPassword" 
                 class="input w-full pr-10 border  dark:border-white border-black bg-white text-black dark:focus:bg-zinc-950 dark:focus:text-white focus:bg-white focus:border-green-300 focus:outline-none rounded-none"
                 placeholder="Confirm new password">
          
          <span (click)="toggleConfirmPasswordVisibility()" 
                class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer text-black select-none">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 [ngClass]="{'hidden': confirmPasswordVisible}" 
                 fill="none" viewBox="0 0 24 24" 
                 class="inline-block w-6 h-6 stroke-current dark:stroke-white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" 
                 [ngClass]="{'hidden': !confirmPasswordVisible}" 
                 fill="none" viewBox="0 0 24 24" 
                 class="inline-block w-6 h-6 stroke-current dark:stroke-white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7 .7-1.761 1.847-3.293 3.34-4.474m3.155-2.369A10.056 10.056 0 0112 5c1.26 0 2.471.229 3.609.674"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" opacity="0.5"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                    d="M19.54 15.537L4.458 8.463"></path>
            </svg>
          </span>
        </div>
      </div>
      
      <button *ngIf="passwordForm.valid" type="submit" class="btn btn-primary">Save</button>

</form>

<!-- notification -->
<div *ngIf="showSuccessNotification" role="alert">
    <div class="toast toast-top toast-center">
      <div class="alert alert-success">
        <span>Password updated successfully</span>
      </div>
    </div>
</div>

<div *ngIf="showGenericErrorNotification" role="alert">
    <div class="toast toast-top toast-center">
      <div class="alert alert-error">
        <span>Error updating password</span>
      </div>
    </div>
</div>

<div *ngIf="showWrongPwNotification" role="alert">
    <div class="toast toast-top toast-center">
      <div class="alert alert-error">
        <span>Invalid password</span>
      </div>
    </div>
</div>