<div class="text-xl font-bold text-center mt-6">Profile information</div>
<div class="text-center mt-1">Edit your details</div>

<div class="max-w-xl mx-auto mt-4">
  <label class="label-text text-black">Email:</label>
  <div class="p-2 bg-gray-200 rounded">{{email}}</div> 
</div>

<!--change details form -->
<form (ngSubmit)="onSubmit()" [formGroup]="profileForm" class="max-w-xl mx-auto mt-6">
    <div class="mb-4">
        <label for="firstName" class="label-text text-black">First name:</label>
        <input type="text" id="firstName" formControlName="firstName" class="border border-black w-full px-3 py-2">
    </div>
    <div class="mb-4">
        <label for="lastName" class="label-text text-black">Last name:</label>
        <input type="text" id="lastName" formControlName="lastName" class="border border-black w-full px-3 py-2">
    </div>
    <div class="mb-4">
        <label for="interests" class="label-text text-black">Interests (comma separated):</label>
        <input type="text" id="interests" formControlName="interests" class="border border-black w-full px-3 py-2">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<!-- notification -->
<div *ngIf="showSuccessNotification" role="alert">
    <div class="toast toast-top toast-center">
      <div class="alert alert-success">
        <span>Profile updated successfully</span>
      </div>
    </div>
  </div>
