.main-container {
    position: relative; /* This makes it the reference point for absolutely positioned children */
  }
  
  .sidebar {
    width: 25%; /* Adjust as needed */
    float: left;
  }
  
  .content {
    width: 75%; /* Adjust as needed */
    float: left;
  }
  
  .friends-content {
    position: relative;
  }
  
  .search-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color:black;
    z-index: 10; /* Ensure it overlays content */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: Add shadow for better visibility */
  }
  .dark .search-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color:white;
    z-index: 10; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  }
  
  

  