<div class="px-10">
  <div class="text-xl font-bold text-center mt-6 text-black dark:text-white">Upload a profile picture</div>
<div class="text-center mt-4 text-black dark:text-white">Preview:</div>

 <!-- cropping and preview -->
 <div class="mt-4">
  <div *ngIf="croppedImage" class="border rounded-lg p-4 flex justify-center items-center">
    <img [src]="croppedImage" alt="Cropped Image" class="w-32 h-auto" />
  </div>
</div>

<!-- file name and upload -->
<div class="flex flex-col mt-4 max-w-xl mx-auto">
  <!-- File name and upload button -->
  <div class="flex justify-between items-center">
    <div class="flex-1 mr-2 p-2 border h-13">{{ fileName }}</div>
    <button class="btn flex-none btn-outline text-black dark:text-white" (click)="triggerFileInput()">Upload</button>
  </div>

  <div class="text-left mt-4">
    <button class="btn btn-primary" (click)="saveImage()">Save</button>
  </div>
</div>

<!-- image cropper -->
<input type="file" id="fileInput" hidden (change)="fileChangeEvent($event)" accept="image/*" #profilePic>
<image-cropper *ngIf="imageChangedEvent"
               [imageChangedEvent]="imageChangedEvent"
               [maintainAspectRatio]="true"
               [aspectRatio]="1 / 1"
               format="png"
               (imageCropped)="imageCropped($event)">
</image-cropper>

<!-- notification -->
<div *ngIf="showSuccessNotification" role="alert" class="alert alert-success">
  <div class="toast toast-top toast-center">
    <div class="alert alert-success">
      <span>Profile picture updated successfully</span>
    </div>
  </div>
</div>
</div>
