<div class="container mx-auto mt-10">
    <div *ngIf="isSubscriber; else subscribeContent">
      <div class="flex justify-center items-center">
        <div class="bg-green-500 text-white p-4 rounded-lg shadow-lg">
          <p class="text-xl font-semibold">Premium Subscription Unlocked</p>
        </div>
      </div>
    </div>
  
    <ng-template #subscribeContent>
      <div class="flex flex-col items-center justify-center">
        <p class="text-gray-700 text-lg mb-4">
          Join our community and unlock premium features to enhance your learning experience.
        </p>
        <button (click)="goToSubscriptionPage()" class="btn btn-primary rounded px-8 py-3 font-bold text-white">
          Subscribe Now
        </button>
      </div>
    </ng-template>
  </div>
  
