.sticky-column {
    position: -webkit-sticky; 
    position: sticky;
    top: 20px; 
    align-self: flex-start; 
}

.course-details-container {
    position: relative;
}
  
.course-title {
    position: absolute;
    top: -100px; 
    left: 0;
    width: 100%;
    text-align: center;
    transition: top 0.3s ease-in-out;
}
  
.course-title.scrolled {
    top: 10; 
}
.show-title {
    @apply visible opacity-100 fixed top-0 left-0 w-full z-10 px-12 py-4 bg-white dark:bg-zinc-900;
    transition: opacity 0.3s ease-in-out;
}
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
}


