@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white; /* Light mode */
    color: black; /* Light mode */
}

.dark body {
    background-color: black; /* Dark mode */
    color: white; /* Dark mode */
}