@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white; /* Light mode */
    color: black; /* Light mode */
}

.dark body {
    background-color: black; /* Dark mode */
    color: white; /* Dark mode */
}

.underline-custom::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline here */
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -4px; /* Adjust the spacing from the text to the underline here */
  }