@import "../node_modules/angular-calendar/css/angular-calendar.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body, button, input, select, textarea {
    font-family: 'sohne', sans-serif !important;
    
}

body {
    background-color: white; /* Light mode */
    color: black; /* Light mode */
}

.dark body {
    background-color: '#27272a'; /* Dark mode */
    color: white; /* Dark mode */
}

.underline-custom::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; 
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -4px; 
  }
  .profile-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown:hover .dropdown-content a:hover {
    background-color: #ddd; 
}

.btn {
    @apply rounded-none;
}

html, body {
    background-color: #fff; 
    min-height: 100vh;
    margin: 0;
}

/* .dark html, body {
    background-color: #18181b; 
    min-height: 100vh;
    margin: 0;
} */
  
.main-content {
    min-height: 100vh; 
    background-color: #fff; 
}
.carousel {
    min-height: 200px; 
    background-color: #fff;
}

.calendar-container, .mwl-calendar-week-view {
    background-color: inherit; /* or set a specific color */
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-Extraleicht.otf') format('opentype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-Buch.otf') format('opentype');
    font-weight: 300; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-Buch.otf') format('opentype');
    font-weight: 500; 
    font-style: medium;
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-Halbfett.otf') format('opentype');
    font-weight: 600; /* Bold */
    font-style: bold;
}

  
  /* Add more variations as needed (italic, light, medium, etc.) */
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
